<!-- =========================
     ABOUT
========================= -->
<section class="about" id="about">
  <div class="wrapper">

    <!-- HEADING -->
    <h2>ABOUT US</h2>

    <!-- LINE -->
    <div class="main-line"></div>

    <div class="col-6">
      <!-- SIDE IMAGE -->
      <%= image_tag "screenshot-one.png", alt: "about" -%>
    </div>

    <div class="col-6">
      <!-- HEADING -->
      <h3>What are we doing</h3>

      <!-- PARAGRAPH -->
      <p>
        Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan dolore te feugait nulla facilisi.
      </p>

      <!-- HEADING -->
      <h3>Why Us</h3>

      <!-- FEATURES LIST -->
      <ul class="styled-icon-list">
        <!-- SINGLE LIST ITEM -->
        <li>
          <!-- ICON -->
          <div class="icon">
            <i class="fa fa-glass"></i>
          </div>
          <!-- CONTENT -->
          <span class="list-content">Services</span>
        </li>

        <!-- SINGLE LIST ITEM -->
        <li>
          <!-- ICON -->
          <div class="icon">
            <i class="fa fa-bed"></i>
          </div>
          <!-- CONTENT -->
          <span class="list-content">Branches</span>
        </li>

        <!-- SINGLE LIST ITEM -->
        <li>
          <!-- ICON -->
          <div class="icon">
            <i class="fa fa-child"></i>
          </div>
          <!-- CONTENT -->
          <span class="list-content">Company Roots</span>
        </li>

        <!-- SINGLE LIST ITEM -->
        <li>
          <!-- ICON -->
          <div class="icon">
            <i class="fa fa-dashboard"></i>
          </div>
          <!-- CONTENT -->
          <span class="list-content">Global Scope</span>
        </li>
      </ul>
    </div>

  </div> <!-- /END WRAPPER -->
</section>