<!-- =========================
     CALL TO ACTION
============================-->
<section class="call-to-action dark-bg">
  <div class="color-overlay">
    <div class="wrapper">

      <!-- HEADING -->
      <h2>CALL TO ACTION</h2>

      <!-- LINE -->
      <div class="main-line"></div>

      <!-- PARAGRAPH -->
      <p>
        Aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
      </p>

      <!-- BUTTON -->
      <div class="btn-container">
        <a class="btn secondary-btn" href="#">Get Started</a>
      </div>

    </div> <!-- /END OVERLAY -->
  </div> <!-- /END WRAPPER -->
</section>