<!-- =========================
     CONTACT
========================= -->
<section class="contact dark-bg" id="contact">
  <div class="color-overlay">
    <div class="wrapper">

      <!-- HEADING -->
      <h2>Contact Us</h2>

      <!-- LINE -->
      <div class="main-line"></div>

      <!-- CONTACT INFORMATION -->
      <ul class="styled-icon-list">
        <!-- SINGLE LIST ITEM -->
        <li>
          <!-- ICON -->
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <!-- CONTENT -->
          <p class="list-content"><span>+963-930-289735</span></p>
        </li>

        <!-- SINGLE LIST ITEM -->
        <li>
          <!-- ICON -->
          <div class="icon">
            <i class="fa fa-envelope-o"></i>
          </div>
          <!-- CONTENT -->
          <p class="list-content"><span><a href="mailto:youremail@domain.com">maherjarrah@outlook.com</a></span></p>
        </li>

        <!-- SINGLE LIST ITEM -->
        <li>
          <!-- ICON -->
          <div class="icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <!-- CONTENT -->
          <p class="list-content"><span>Manhaten, United States</span></p>
        </li>

      </ul>

      <form action="send-mail.php" method="post">

        <div class="col-12">
          <!-- HEADING -->
          <h3>Get In Touch</h3>
        </div>

        <div class="col-6">
          <!-- NAME -->
          <label for="name">Name</label>
          <input id="name" name="name" type="text" placeholder="Name" required>

          <!-- EMAIL -->
          <label for="email">Email</label>
          <input id="email" name="email" type="email" placeholder="Email" required>

          <!-- PHONE NUMBER -->
          <label for="phone">Phone Number</label>
          <input id="phone" name="phone" type="tel" placeholder="Phone Number">
        </div>

        <div class="col-6">
          <!-- MESSAGE -->
          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="Message"  required></textarea>
        </div>

        <div class="col-12">
          <!-- SUBMIT BUTTON -->
          <button type="submit">SEND</button>
        </div>

      </form>

    </div> <!-- /END WRAPPER -->
  </div> <!-- /END OVERLAY -->
</section>