<!-- =========================
     CUSTOMERS
========================= -->
<section class="customers dark-bg">
  <div class="color-overlay">
    <div class="wrapper">

      <!-- HEADING -->
      <h2>MEET OUR CUSTOMERS</h2>

      <!-- LINE -->
      <div class="main-line"></div>

      <!-- SINGLE CUSTOMER LOGO -->
      <%= image_tag "customers/mcdonald's.png", alt: "Gary" -%>

      <!-- SINGLE CUSTOMER LOGO -->
      <%= image_tag "customers/mcdonald's.png", alt: "Gary" -%>

      <!-- SINGLE CUSTOMER LOGO -->
      <%= image_tag "customers/mcdonald's.png", alt: "Gary" -%>

      <!-- SINGLE CUSTOMER LOGO -->
      <%= image_tag "customers/mcdonald's.png", alt: "Gary" -%>

    </div> <!-- /END WRAPPER -->
  </div>  <!-- /END COLOR OVERLAY -->
</section>