<!-- =========================
     FOOTER
========================= -->
<footer class="dark-bg">
  <!-- BACK TO TOP -->
  <a class="icon back-to-top" href="#home"><i class="fa fa-home"></i></a>

  <!-- SOCIAL NAVIGATION -->
  <ul class="social-navigation">
    <li><a href="https://www.facebook.com/maherjarrah111" class="icon"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/MaherJarrah1" class="icon"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.behance.net/maherjarrah" class="icon"><i class="fa fa-behance"></i></a></li>
    <li><a href="#" class="icon"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="#" class="icon"><i class="fa fa-linkedin"></i></a></li>
    <li><a href="#" class="icon"><i class="fa fa-instagram"></i></a></li>
  </ul>

  <!-- COPYRIGHT -->
  <p>
    &copy; 2015 SELENA Theme | Made with <i class="fa fa-heart heart"></i> by <a href="http://maherjarrah.com">Maher Jarrah</a>
  </p>
</footer>