<!-- =========================
     HOME
========================= -->
<header class="home dark-bg" id="home">
  <div class="color-overlay">
    <div class="wrapper">

      <!-- HEADING -->
      <h1>
        Free <span class="colored-text">Multi-Purpose</span> One-Page Template
      </h1>

      <!-- SUB HEADING -->
      <p class="sub-heading">
        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros soluta nobis eleifend option.
      </p>

    </div> <!-- /END WRAPPER -->
  </div> <!-- /END COLOR OVERLAY -->
</header>