<!-- =========================
     PRICING
========================= -->
<section class="pricing" id="pricing">
  <div class="wrapper">

    <!-- HEADING -->
    <h2>PRICING STYLE ONE</h2>

    <!-- SUB HEADING -->
    <p class="sub-heading">Check the second pricing style in shortcodes page</p>

    <!-- LINE -->
    <div class="main-line"></div>

    <!-- CIRCULAR PRICING TABLE -->
    <div class="circular-pricing-table">

      <!-- PACKAGE ONE -->
      <div class="package">
        <!-- PACKAGE HEADER -->
        <div class="package-header dark-bg">
          <p>From  <span>$29</span> /  month </p>
        </div>

        <!-- PACKAGE FEATURES -->
        <ul class="package-features">
          <li>Responsive Design</li>
          <li>Available in 7 colors</li>
          <li>Shortcodes</li>
          <li>Well Documented</li>
        </ul>

        <!-- BUTTON -->
        <div class="btn-container">
          <a class="btn standard-btn" href="#">Order Now!</a>
        </div>

      </div> <!-- /END PACKAGE ONE -->

      <!-- PACKAGE TWO (MAIN PACKAGE)-->
      <div class="package main-package">

        <!-- PACKAGE HEADER -->
        <div class="package-header dark-bg">
          <h3>Premium</h3>
          <p>From  <span>$149</span> /  month </p>
        </div>

        <!-- PACKAGE FEATURES -->
        <ul class="package-features">
          <li>Responsive Design</li>
          <li>Available in 7 Colors And Dark/Light Versions</li>
          <li>Shortcodes</li>
          <li>Well Commented Code</li>
        </ul>

        <!-- BUTTON -->
        <div class="btn-container">
          <a class="btn secondary-btn" href="#">Order Now!</a>
        </div>

      </div> <!-- /END PACKAGE TOW (MAIN PACKAGE) -->

      <!-- PACKAGE THREE -->
      <div class="package">

        <!-- PACKAGE HEADER -->
        <div class="package-header dark-bg">
          <p>From  <span>$89</span> /  month </p>
        </div>

        <!-- PACKAGE FEATURES -->
        <ul class="package-features">
          <li>Responsive Design</li>
          <li>Available in 7 colors</li>
          <li>Shortcodes</li>
          <li>Well Documented</li>
        </ul>

        <!-- BUTTON -->
        <div class="btn-container">
          <a class="btn standard-btn" href="#">Order Now!</a>
        </div>
      </div> <!-- /END PACKAGE THREE -->

    </div> <!-- /END PRICING TABLE-->

  </div> <!-- /END WRAPPER -->
</section>
