<!-- =========================
     SERVICES
========================= -->
<section class="services" id="services">
  <div class="wrapper">

    <!-- HEADING-->
    <h2>Our Services</h2>

    <!-- SUB HEADING -->
    <p class="sub-heading">Eugiat nulla facilisis est gothica</p>

    <!-- LINE -->
    <div class="main-line"></div>

    <!-- ICON BOXES -->
    <div class="icon-boxes">
      <!-- SINGLE ICON BOX -->
      <div class="icon-box">
        <!-- ICON -->
        <i class="fa fa-desktop"></i>

        <!-- HEADING -->
        <h3>Web Design</h3>

        <!-- PARAGRAPH -->
        <p>
          dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
        </p>

        <!-- BUTTON -->
        <div class="btn-container">
          <a class="btn secondary-btn" href="#">Read More</a>
        </div>
      </div>

      <!-- SINGLE ICON BOX -->
      <div class="icon-box">
        <!-- ICON -->
        <i class="fa fa-pencil"></i>

        <!-- HEADING -->
        <h3>Graphics</h3>

        <!-- PARAGRAPH -->
        <p>
          dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
        </p>

        <!-- BUTTON -->
        <div class="btn-container">
          <a class="btn secondary-btn" href="#">Read More</a>
        </div>
      </div>

      <!-- SINGLE ICON BOX -->
      <div class="icon-box">
        <!-- ICON -->
        <i class="fa fa-eye"></i>

        <!-- HEADING -->
        <h3>Marketing</h3>

        <!-- PARAGRAPH -->
        <p>
          dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
        </p>

        <!-- BUTTON -->
        <div class="btn-container">
          <a class="btn secondary-btn" href="#">Read More</a>
        </div>
      </div>

      <!-- SINGLE ICON BOX -->
      <div class="icon-box">
        <!-- ICON -->
        <i class="fa fa-camera"></i>

        <!-- HEADING -->
        <h3>Photography</h3>

        <!-- PARAGRAPH -->
        <p>
          dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
        </p>

        <!-- BUTTON -->
        <div class="btn-container">
          <a class="btn secondary-btn" href="#">Read More</a>
        </div>
      </div>
    </div> <!-- /END ICON BOXES -->

  </div> <!-- /END WRAPPER -->
</section>