<!-- =========================
     SUBSCRIBE
========================= -->
<section class="subscribe dark-bg">
  <div class="color-overlay">
    <div class="wrapper">

      <!-- HEADING -->
      <h2>SUBSCRIBE TO OUR NEWS LITTER</h2>

      <!-- SUB HEADING -->
      <p class="sub-heading">Eugiat nulla facilisis est gothica</p>

      <!-- LINE -->
      <div class="main-line"></div>

      <form action="#" method="post">
        <!-- Email Input -->
        <label for="email-input">Email Input</label>
        <input type="email" id="email-input" name="email-input" placeholder="Your Email">

        <!-- Submit Button -->
        <button type="submit">Subscribe</button>
      </form>

    </div> <!-- /END WRAPPER -->
  </div> <!-- /END OVERLAY -->
</section>