<!-- =========================
     TEAM
========================= -->
<section class="team" id="team">
  <div class="wrapper">

    <!-- HEADING -->
    <h2>MEET OUR TEAM</h2>

    <!-- SUB HEADING -->
    <p class="sub-heading">Eugiat nulla facilisis est gothica</p>

    <!-- LINE -->
    <div class="main-line"></div>

    <!-- SINGLE MEMBER -->
    <div class="single-member">
      <!-- MEMBER PHOTO -->
      <%= image_tag "team/jessie-renner.jpg", alt: "Gary" -%>
      <div class="member-info">
        <!-- HEADING -->
        <h5>Jessie Renner</h5>

        <!-- SUB HEADING -->
        <span>Auto Parts</span>

        <!-- BIO -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>

        <!-- SOCIAL MEDIA -->
        <a href="http://fb.com/maherjarrah111" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/MaherJarrah1" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="http://behance.net/maherjarrah" target="_blank"><i class="fa fa-behance"></i></a>
      </div>
    </div>

    <!-- SINGLE MEMBER -->
    <div class="single-member">
      <!-- MEMBER PHOTO -->
      <%= image_tag "team/jessie-renner.jpg", alt: "Gary" -%>

      <div class="member-info">
        <!-- HEADING -->
        <h5>Maureen Brown</h5>

        <!-- SUB HEADING -->
        <span>Security officer</span>

        <!-- BIO -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>

        <!-- SOCIAL MEDIA -->
        <a href="http://fb.com/maherjarrah111" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/MaherJarrah1" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="http://behance.net/maherjarrah" target="_blank"><i class="fa fa-behance"></i></a>
      </div>
    </div>

    <!-- SINGLE MEMBER -->
    <div class="single-member">
      <!-- MEMBER PHOTO -->
      <%= image_tag "team/jessie-renner.jpg", alt: "Gary" -%>

      <div class="member-info">
        <!-- HEADING -->
        <h5>Anna Williams</h5>

        <!-- SUB HEADING -->
        <span>Operating room technician</span>

        <!-- BIO -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>

        <!-- SOCIAL MEDIA -->
        <a href="http://fb.com/maherjarrah111" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/MaherJarrah1" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="http://behance.net/maherjarrah" target="_blank"><i class="fa fa-behance"></i></a>
      </div>
    </div>

    <!-- SINGLE MEMBER -->
    <div class="single-member">
      <!-- MEMBER PHOTO -->
      <%= image_tag "team/jessie-renner.jpg", alt: "Gary" -%>

      <div class="member-info">
        <!-- HEADING -->
        <h5>Robert Dorsey</h5>

        <!-- SUB HEADING -->
        <span>Garden management</span>

        <!-- BIO -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>

        <!-- SOCIAL MEDIA -->
        <a href="http://fb.com/maherjarrah111" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/MaherJarrah1" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a href="http://behance.net/maherjarrah" target="_blank"><i class="fa fa-behance"></i></a>
      </div>
    </div>

  </div> <!-- /END WRAPPER -->
</section>