<!-- =========================
     TESTIMONIALS
========================= -->
<section class="testimonials">
  <div class="wrapper">

    <!-- HEADING -->
    <h2>What People Say</h2>

    <!-- SUB HEADING -->
    <p class="sub-heading">Eugiat nulla facilisis est gothica</p>

    <!-- LINE -->
    <div class="main-line"></div>

    <!-- SINGLE TESTIMONIAL -->
    <div class="testimonial-box">
      <!-- AUTHOR PHOTO -->
      <%= image_tag "testimonials/brittany-lopez.png", alt: "Brittany Lopez" -%>

      <div class="testimonial">
        <!-- HEADING -->
        <h5>Brittany Lopez</h5>

        <!-- SUB HEADING -->
        <span>Techo Solutions</span>

        <!-- TESTIMONIAL CONTENT -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>
      </div>
    </div>

    <!-- SINGLE TESTIMONIAL -->
    <div class="testimonial-box">
      <!-- AUTHOR PHOTO -->
      <%= image_tag "testimonials/gary-malone.png", alt: "Gary" -%>
      <div class="testimonial">
        <!-- HEADING -->
        <h5>Gary Malone</h5>

        <!-- SUB HEADING -->
        <span>CEO at Lafayette FM</span>

        <!-- TESTIMONIAL CONTENT -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>
      </div>
    </div>

    <!-- SINGLE TESTIMONIAL -->
    <div class="testimonial-box">
      <!-- AUTHOR PHOTO -->
      <%= image_tag "testimonials/gary-malone.png", alt: "Gary" -%>

      <div class="testimonial">
        <!-- HEADING -->
        <h5>William Tinsley</h5>

        <!-- SUB HEADING -->
        <span>Star Interior Design</span>

        <!-- TESTIMONIAL CONTENT -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>
      </div>
    </div>

    <!-- SINGLE TESTIMONIAL -->
    <div class="testimonial-box">
      <!-- AUTHOR PHOTO -->
      <%= image_tag "testimonials/gary-malone.png", alt: "Gary" -%>

      <div class="testimonial">
        <!-- HEADING -->
        <h5>Susan Ivey</h5>

        <!-- SUB HEADING -->
        <span>Photographer</span>

        <!-- TESTIMONIAL CONTENT -->
        <p>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit.
        </p>
      </div>
    </div>

  </div> <!-- /END WRAPPER -->
</section>